---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<style>
  :root {
    --background: #22c55e;
    --text: black;
    --text-light: rgb(64 64 64);
    @media (prefers-color-scheme: dark) {
      --background: rgb(23 23 23);
      --text: white;
      --text-light: rgb(212 212 212);
    }
  }
  html,
  body {
    height: 100%;
  }
  html {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      Segoe UI Symbol,
      "Noto Color Emoji";
    background-color: var(--background);
  }
  body {
    margin: 0 auto;
    max-width: 72rem;
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    #logo-link {
      display: flex;
    }
  }
  main {
    margin: 1rem;
    flex-grow: 1;
  }
  footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    font-size: 12px;
    a {
      color: var(--text-light);
    }
  }
</style>
<html lang="nb-NO">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="title">
      <title>Kortspillguiden</title>
    </slot>
    <slot name="description" />
  </head>
  <body>
    <header>
      <a id="logo-link" href="/">
        <Image src={logo} height="38" alt="Kortspillguiden.no" />
      </a>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <a
        href="https://github.com/msigurd/Kortspillguiden"
        target="_blank"
        rel="noopener noreferrer"
      >
        Kildekode
      </a>
    </footer>
  </body>
</html>
